@{ 
    Layout = null;
}

<div class="modal-header">
    Registrar ingreso
</div>
<div class="modal-body">
    <div class="form-group">
        <label>Cuenta</label>
        <input type="text" class="form-control" value="@Model.Titulo" disabled />
    </div>
    <div class="form-group">
        <label>Monto</label>
        <input type="number" class="form-control" id="monto" required min="0" value="0" />
    </div>
    <div class="form-group">
        <label>Fecha y hora</label>
        <input type="datetime-local" class="form-control" id="fecha" value="@DateTime.Now.ToString("yyyy-MM-dd'T'hh:mm:ss")" />
    </div>
    <div class="form-group">
        <label>Descripcion</label>
        <textarea id="descripcion" name="Descripcion" class="form-control"></textarea>
    </div>
    <span id="mensaje" class="text-danger"></span>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" onclick="cerrarFormulario()">Cancelar</button>
    <button type="submit" class="btn btn-primary" onclick="registrar(@Model.Id)">Guardar</button>
</div>


<script>
    function registrar(id) {
        var formData = new FormData();

        var monto = $("#monto").val();
        formData.append("Monto", monto);

        var descripcion = $("#descripcion").val();
        formData.append("Descripcion", descripcion);

        var fecha = $("#fecha").val();
        formData.append("Fecha", fecha);

        formData.append("TipoMovimiento", 0);
        formData.append("CuentaDestinoId", id);

        $.ajax({
            type: "POST",
            url: "/Movimiento/Registrar",
            data: formData,
            processData: false,
            contentType: false,
            success: function (respuesta) {
                cerrarFormulario();
            },
            error: function () {
                $("#mensaje").text("Operación inválida");
            }
        })
    }
</script>